<!DOCTYPE html>
<html>
<head>

<title>Header</title>
<div th:replace="fragments/header :: header-css" />

<style>
.table {
	width: 50%;
	margin: auto
}
</style>

</head>

<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="">
		<h2 th:if="${status}">${status}</h2>
		<h2>Course File Upload</h2>
		<a th:href="@{/courseIndex}""> All Courses</a>
		<form method="POST" action="/cms/addCourseFiles" th:object="${course}"
			enctype="multipart/form-data">

			<table class="table table-bordered">

				<tr>
					<td hidden="hidden"><input type="text" th:field="*{id}"
						id="*{id}" placeholder="Id"></td>
					<td>Please select file1 :<input type="file" name="file">
					</td>
					<td>File Description1: <input type="text" name="description"></td>
				</tr>

				<tr>
					<td>Please select file2 :<input type="file" name="file">
					</td>
					<td>File Description2: <input type="text" name="description"></td>
				</tr>
				<tr>
					<td></td>
					<td><input class="btn btn-primary" type="submit"
						value="Upload"></td>
				</tr>

			</table>




		</form>









		<div th:replace="fragments/footer :: footer"></div>
		<script type="text/javascript">
			
		</script>
</body>
</html>