<!DOCTYPE html>
<html>
<head>

<title>Header</title>
<div th:replace="fragments/header :: header-css" />


<style>
.table {
	width: 50%;
	margin: auto
}
</style>

</head>

<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="">



		<form action="#" th:action="@{/addCourse}" th:object="${course}"
			method="post">
			<h2>Add Course</h2>
			<a th:href="@{/courseIndex}""> All Courses</a>
			<table class="table table-bordered">

				<tr>
					<td><label for="courseName">Name</label></td>
					<td><input type="text" th:field="*{courseName}"
						id="*{courseName}" placeholder="Name"> <span
						th:if="${#fields.hasErrors('courseName')}" th:errors="courseName"></span></td>
				</tr>
				<tr>
					<td><label for="courseDescription">Description</label></td>
					<td><input type="text" th:field="*{courseDescription}"
						id="*{courseDescription}" placeholder="Description"> <span
						th:if="${#fields.hasErrors('courseDescription')}"
						th:errors="courseDescription"></span> <input
						class="btn btn-primary" type="submit" value="Add Course">
					</td>

				</tr>

			</table>






		</form>







		<div th:replace="fragments/footer :: footer"></div>
		<script type="text/javascript">
			
		</script>
</body>
</html>