<!DOCTYPE html>
<html>
<head>

<title>Header</title>
<div th:replace="fragments/header :: header-css" />


<style>
.table {
	width: 70%;
	margin: auto
}
</style>

</head>

<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="">


		<div th:switch="courses">
			<h2 th:case="null">No users yet!</h2>
			<div th:case="*">
				<h1>Courses</h1>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Name</th>
							<th>Description</th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="course : ${courses}">
							<td th:text="${course.courseName}"></td>
							<td th:text="${course.courseDescription}"></td>
							<td><a th:href="@{/addCourseFiles/{id}(id=${course.id})}"
								class="btn btn-info"> Add Files</a></td>
							<td><a th:href="@{/viewCourse/{id}(id=${course.id})}"
								class="btn btn-info"> View</a></td>

							<!--  <td><a th:href="@{/editCourse/{id}(id=${course.id})}" class="btn btn-warning">
                    Edit</a></td> -->
							<td><a th:href="@{/deleteCourse/{id}(id=${course.id})}"
								class="btn btn-danger"> Delete</a></td>


						</tr>
					</tbody>
				</table>
			</div>
			<p>
				<a href="/cms/addCourse"><button class="btn btn-success">Add
						Course</button></a>
			</p>
		</div>

	</div>





	<div th:replace="fragments/footer :: footer"></div>
	<script type="text/javascript">
		
	</script>
</body>
</html>