<!DOCTYPE html>
<html>
<head>

<title>Header</title>
<div th:replace="fragments/header :: header-css" />


<style>
.table {
	width: 50%;
	margin: auto
}
</style>

</head>

<body>
	<div th:replace="fragments/header :: header"></div>
<div class="content">
		<div class="fome-sec">
			<div class="container1">

				<div class="row">
					<div class=" col-md-12 ">


						<div class="col-md-6">
							<h1
								style="color: #140e4c; float: left; text-align: center; margin-bottom: 20px;">
								Course Details</h1>
						</div>
						<div class="col-md-6">
							<div class="pluse">
								<a href="/cms/courseIndex"><button
										style="padding: 6px 12px; float: left; margin: 0 10px; text-align: center;"
										type="button" class="btn btn-success">Course List</button></a>
							</div>
						</div>
					</div>


		<div th:switch="course">
			<h2 th:case="null">No users yet!</h2>
			<div th:case="*">

				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Name</th>
							<th>Description</th>

						</tr>
					</thead>
					<tbody>
						<tr>
							<td th:text="${course.courseName}"></td>
							<td th:text="${course.courseDescription}"></td>
							<!--   <td><a th:href="@{/addCourseFiles/{id}(id=${course.id})}" class="btn btn-primary">
                    Add Files</a></td>
                     <td><a th:href="@{/view/{id}(id=${course.id})}" class="btn btn-primary">
                    View</a></td>
                   
                    <td><a th:href="@{/edit/{id}(id=${course.id})}" class="btn btn-primary">
                    Edit</a></td>
                    <td><a th:href="@{/delete/{id}(id=${course.id})}" class="btn btn-primary">
                    Delete</a></td> -->
						</tr>
					</tbody>
				</table>

				<table class="table table-bordered">
					<thead>
						<tr>
							<th>File Name</th>
							<th>File Type</th>
						
							<th>File Description</th>
						
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="courseFile : ${courseFiles}">
							<td th:text="${courseFile.fileName}"></td>
							<td th:text="${courseFile.fileType}"></td>
				
							<td th:text="${courseFile.fileDescription}"></td>
							
							 <td><a  th:href="@{/deleteCourseFile/{id}(id=${courseFile.id})}" 
							 class="btn btn-danger">
                    Delete</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<script type="text/javascript">
			
		</script>
</body>
</html>