<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header-css">

<link rel="stylesheet" type="text/css"  href=/cms/css/style.css">
<link rel="stylesheet" type="text/css" href="/cms/css/bootstrap.min.css"/>

<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
	integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
	crossorigin="anonymous">


<!--  data table cdn files**************************

<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<script
	src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
-->
</head>
<body>
<div th:fragment="header">
	<div class="header">
		<div class="container">
			<div class="row">
				<div class="col-md-2">
					<img src="/cms/images/logo.png" class="logo">
				</div>
				<div class="col-md-10">
					
			

				
					<ul class="nav nav-pills" style="float:right">

						<li role="presentation" class="dropdown"><a
							class="dropdown-toggle" data-toggle="dropdown" href="#"
							role="button" aria-haspopup="true" aria-expanded="false"> <i
								style="color: #fff; font-size: 30px;" class="fas fa-user-circle"></i><span
								class="caret"></span>
						</a>
							<ul class="dropdown-menu" style="text-align:center">
								<li><a href="#">My Profile</a></li>
								<li><a href="#">Notification</a></li>
								<li>
									<form th:action="@{/logout}" method="get">
										<button class="btn btn-danger" style=""
											name="registration" type="Submit">Logout</button>
									</form>
								</li>
							</ul></li>

					</ul>
					<i
						style="color: #fff; margin-top: 17px; font-size: 20px; float: right;padding-right:20px"
						class="fas fa-bell"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="container" style="margin-left:0px">
		<div class="row">
			<div class="side-menu-bar">

				<div class="sidebar">
					<a class="active" href="/cms/courseIndex"><i
						style="margin: 0 5px 0 5px;" class="fa fa-book"></i>Courses</a> <a
						href="#"><img src="/cms/images/img.png" width="13px" height="13px;">
						Tests</a> <a href="#"><i style="margin: 0 5px 0 5px;"
						class="fas fa-video aria-hidden="true"></i>Videos</a> <i></i>
				</div>
			</div>
		</div>
	</div> 
	
	
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/cms/js/bootstrap.min.js"></script>
</body>
</html>

